<div style="background-color: rgb(176, 252, 226);">
    <h2>Id Vehículo: {{ vehiculo.id }}</h2>
    <h2>Marca: {{ vehiculo.marca|lower }}</h2>
    <h2>Modelo: {{ vehiculo.modelo|upper }}</h2>
    <h2>Número del Bastidor: {{ vehiculo.numero_bastidor|truncatechars:10 }}</h2>
    <h2>Tipo de Vehículo: {{ vehiculo.tipo_vehiculo }}</h2>
    <h2>Cilindrada: {{ vehiculo.cilindrada }}</h2>
    <h2>Potencia: {{ vehiculo.potencia }}</h2>
    <h2>Combustible: {{ vehiculo.combustible }}</h2>
    <h2>Masa Máxima Autorizada: {{ vehiculo.mma }}</h2>
    <h2>Asientos: {{ vehiculo.asientos }}</h2>
    <h2>Ejes: {{ vehiculo.ejes }}</h2>
    <h2>DNI Propietario: {{ vehiculo.dni_propietario }}</h2>
    <h2>Matrícula: {{ vehiculo.matricula }}</h2>

    <h2>Trabajadores que han realizado inspecciones a este vehículo:</h2>
    <h3>Numero de trabajadores {{ vehiculo.trabajadores.all|length }}</h3>
    {% for trabajador in vehiculo.trabajadores.all %}
        <div style="background-color: rgb(176, 227, 252);">
            <h2>Nombre: {{ trabajador.nombre|lower }}</h2>
            <h2>Apellidos: {{ trabajador.apellidos|upper }}</h2>
            <h2>Puesto: {{ trabajador.puesto }}</h2>
            <h2>Sueldo: {{ trabajador.sueldo }}</h2>
            <h2>Observaciones: {{ trabajador.observaciones }}</h2>
        </div>
    {% endfor %}

    <h2>Inspecciones que se han realizado a este vehículo:</h2>
    <h3>Numero de inspección{{ vehiculo.vehiculo_Inspeccion.all|pluralize:"es" }} {{ vehiculo.vehiculo_Inspeccion.all|length }}
              
    </h3>
    {% for inspeccion in vehiculo.vehiculo_Inspeccion.all %}
        <div style="background-color: rgb(197, 176, 252);">
            <h2>Id Inspección: {{ inspeccion.id }}</h2>
            <h2>Fecha: {{ inspeccion.fecha_inspeccion|date:"Y-m-d" }}</h2>
            <h2>Resultado: {{ inspeccion.resultado_inspeccion }}</h2>
            <h2>Notas: {{ inspeccion.notas_inspeccion|default:"Sin notas" }}</h2>
            <h2>Cliente Puntual: {{ inspeccion.cliente_puntual }}</h2>
        </div>
    {% endfor %}
</div>