<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for inspeccion in views_inspecciones_vehiculo %}
        <div style="background-color: rgb(176, 252, 226)">
            <h2>Id Inspeccion: {{ inspeccion.id }}</h2>
            <h2>Fecha: {{ inspeccion.fecha_inspeccion }}</h2>
            <h2>Resultado: {{ inspeccion.resultado_inspeccion }}</h2>
            <h2>Notas: {{ inspeccion.notas_inspeccion }}</h2>
            <h2>Cliente puntual: {{ inspeccion.cliente_puntual }}</h2>
            <h2>Trabajador que ha realizado la inspeccion</h2>
            <div style="background-color: rgb(176, 237, 252)">
                <h2>Id Inspeccion: {{ inspeccion.trabajador.id }}</h2>
                <h2>Nombre: {{ inspeccion.trabajador.nombre  }}</h2>
            </div>
            <h2>Trabajador que ha realizado la inspeccion</h2>
            <div style="background-color: rgb(176, 237, 252)">
                <h2>Id Inspeccion: {{ inspeccion.trabajador.id }}</h2>
                <h2>Nombre: {{ inspeccion.trabajador.nombre  }}</h2>
            </div>
            <h2>Vehiculo</h2>
            <div style="background-color: rgb(183, 176, 252)">
                <h2>Id Vehiculo: {{ inspeccion.vehiculo.id }}</h2>
                <h2>Matricula: {{ inspeccion.vehiculo.matricula  }}</h2>
            </div>
        </div>
    {% endfor %}
</body>

</html>