<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for trabajadores in views_trabajadores_estacion %}
        <div style="background-color: rgb(176, 252, 226)">
            <h2>Id Trabajador: {{ trabajadores.id }}</h2>
            <h2>Nombre: {{ trabajadores.nombre }}</h2>
            <h2>Apellidos: {{ trabajadores.apellidos }}</h2>
            <h2>Puesto: {{ trabajadores.puesto }}</h2>
            <h2>Sueldo: {{ trabajadores.sueldo }}</h2>
            <h2>Observaciones: {{ trabajadores.observaciones }}</h2>
            <h2>Estaciones en los que trabaja:</h2>
                {% for estacion in trabajadores.estacion.all %}
                <div style="background-color: rgb(252, 238, 176)">
                    <h2>Id Estacion: {{ estacion.id }}</h2>
                    <h2>Nombre: {{ estacion.nombre }}</h2>
                    <h2>Municipio: {{ estacion.munipio }}</h2>
                    <h2>Eficiencia: {{ estacion.eficiencia_energetica }}</h2>
                    <h2>Comunidad autonoma: {{ estacion.comunidad_autonoma }}</h2>
                </div>
            {% endfor %}
            <h2>Inspecciones que ha realizado:</h2>
            {% for inspeccion in trabajadores.trabajador_Inspeccion.all %}
                <div style="background-color: rgb(252, 219, 176)">
                    <h2>Id Inspeccion: {{ inspeccion.id }}</h2>
                    <h2>Fecha: {{ inspeccion.fecha_inspeccion }}</h2>
                    <h2>Resultado: {{ inspeccion.resultado_inspeccion }}</h2>
                    <h2>Notas: {{ inspeccion.notas_inspeccion }}</h2>
                    <h2>Cliente puntual: {{ inspeccion.cliente_puntual }}</h2>
                </div>
            {% endfor %}
            <h2>Vehiculos a los que ha realizado una inspeccion:</h2>
            {% for vehiculo in trabajadores.trabajador_Vehiculo.all %}
                <div style="background-color: rgb(252, 187, 176)">
                    <h2>Id vehiculo: {{ vehiculo.id }}</h2>
                    <h2>Marca: {{ vehiculo.marca }}</h2>
                    <h2>Modelo: {{ vehiculo.modelo }}</h2>
                    <h2>Numero del bastidor: {{ vehiculo.numero_bastidor }}</h2>
                    <h2>Tipo de vehiculo: {{ vehiculo.tipo_vehiculo }}</h2>
                    <h2>Cilindrada: {{ vehiculo.cilindrada }}</h2>
                    <h2>Potencia: {{ vehiculo.potencia }}</h2>
                    <h2>Combustible: {{ vehiculo.combustible }}</h2>
                    <h2>Masa maxima autorizada: {{ vehiculo.mma }}</h2>
                    <h2>Asientos: {{ vehiculo.asientos }}</h2>
                    <h2>Ejes: {{ vehiculo.ejes }}</h2>
                    <h2>Dni propietario: {{ vehiculo.dni_propietario }}</h2>
                    <h2>Matricula: {{ vehiculo.matricula }}</h2>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
 
</html>