{% extends "estructura/padre.html"%}

{% block cabecera %}
    <h1>Listado de citas</h1>
{% endblock %}

{% block contenido%}
    {% for cita in views_citas %}
        <div style="background-color: rgb(176, 252, 226)">
            <h2>Id cita: {{ cita.id }}</h2>
            <h2>Matrícula: {{ cita.matricula }}</h2>
            <h2>Fecha de Matriculación: {{ cita.fecha_matriculacion }}</h2>
            <h2>Número de Bastidor: {{ cita.numero_bastidor }}</h2>
            <h2>Tipo de Inspección: {{ cita.tipo_inspeccion}}</h2>
            <h2>Remolque: {{ cita.remolque}}</h2>
            <h2>Tipo de Pago: {{ cita.tipo_pago}}</h2>
            <h2>Fecha Propuesta: {{ cita.fecha_propuesta}}</h2>
            <h2>Hora Propuesta: {{ cita.hora_propuesta}}</h2>
            <h2>Datos del cliente:</h2>
            <div style="background-color: rgb(176, 224, 252)">
                <h2>ID Cliente : {{ cita.cliente.id}} </h2>
                <h2>Nombre : {{ cita.cliente.nombre }} </h2>
                <h2>Apellidos : {{ cita.cliente.apellidos }} </h2>
                <h2>Sexo : {{ cita.cliente.sexo }} </h2>
                <h2>Dni : {{ cita.cliente.dni }} </h2>
                <h2>Telefono : {{ cita.cliente.telefono }} </h2>
                <h2>Correo : {{ cita.cliente.correo }} </h2>
                <h2>Domicilio : {{ cita.cliente.domicilio }} </h2>
                <h2>Fecha de nacimiento : {{ cita.cliente.fecha_nacimiento }} </h2>
            </div>
            <h2>Datos de la estacion que recibe la cita:</h2>
            <div style="background-color: rgb(192, 176, 252)">
                <h2>Id Estacion: {{ cita.estacion.id }}</h2>
                <h2>Nombre: {{ cita.estacion.nombre }}</h2>
                <h2>Municipio: {{ cita.estacion.munipio }}</h2>
                <h2>Eficiencia: {{ cita.estacion.eficiencia_energetica }}</h2>
                <h2>Comunidad autonoma: {{ cita.estacion.comunidad_autonoma }}</h2>
            </div>
        </div>
    {% empty %}  
        <h1>Lo siento, no existen citas</h1>
    {% endfor %} 
{% endblock%}